<header>
    <nav class="navbar bg-primary navbar-expand-lg border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Fake Gundam Wiki API</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <ul class="navbar-nav">

                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                Administrator
                            </a>

                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Docs" asp-action="Index">
                            <i class="bi bi-journal-text"></i> Docs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/dcaceresc/FakeGundamWikiAPI" target="_blank">
                            <i class="bi bi-github"></i> GitHub
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-bd-primary dropdown-toggle d-flex align-items-center"
                                id="bd-theme"
                                type="button"
                                aria-expanded="false"
                                data-bs-toggle="dropdown"
                                aria-label="Toggle theme (auto)">
                            <i class="bi  theme-icon-active bi-circle-half"><use href="#circle-half"></use></i>
                            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                                    <i class="bi me-2 opacity-50 bi-sun-fill"></i>
                                    Light
                                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                                    <i class="bi me-2 opacity-50 bi-moon-stars-fill"></i>
                                    Dark
                                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                                    <i class="bi me-2 opacity-50 bi-circle-half"></i>
                                    Auto
                                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div>
                </div>
            </div>
        </div>
    </nav>
</header>

@if (User.IsInRole("Administrator"))
{
    <div class="offcanvas offcanvas-end bg-primary navbar-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header" data-bs-theme="dark" style="border-bottom: 1px solid white;margin-top: 10px;">
            <h5 class="offcanvas-title text-white" id="offcanvasRightLabel">ADMINISTRACIÓN</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="mb-3">
                <h5 class="mb-3">Gestion de Usuarios y Permisos</h5>

                <ul class="list-group">
                    <li class="list-group-item ">
                        <a class="nav-link" asp-area="Security" asp-controller="Users" asp-action="Index">
                            <i class="bi bi-person"></i>
                            Usuarios del Sistema
                            <i class="float-end fa fa-chevron-right"></i>
                        </a>
                    </li>

                    <li class="list-group-item ">
                        <a class="nav-link" asp-area="Security" asp-controller="Roles" asp-action="Index">
                            <i class="bi bi-person-gear"></i>
                            Permisos del Sistema
                            <i class="float-end fa fa-chevron-right"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="mb-3">
                <h5 class="mb-3">Mantenedores</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="nav-link" asp-area="Maintainer" asp-controller="Examples" asp-action="Index">Examples</a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" asp-area="Maintainer" asp-controller="ExampleTypes" asp-action="Index">ExampleTypes</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
}
