<div class="modal fade" id="modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog" id="modalSize">
        <div class="modal-content">
            <div class="modal-header" style="background:#003087;color:white;">
                <h5 class="modal-title" id="modalTitle"></h5>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>