<h3>Universes</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/universes</td>
            <td>Get all universes</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/universes/:id</td>
            <td>Get a universe by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/universes</td>
            <td>Create a new universe</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/universes/:id</td>
            <td>Update a universe by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/universes/:id</td>
            <td>Delete a universe by id</td>
        </tr>
    </tbody>
</table>