.card-body {
    padding: 30px 55px;
    border-radius: 4px;
    box-shadow: 0 20px 60px -20px rgb(0 0 0 / 50%);
}


.form-control:focus {
    border-color: #003087;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 48, 135, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 48, 135, 0.6);
}

.form-label {
    color: #003087;
}

.btn-primary {
    color: #fff;
    background-color: #003087;
    border-color: transparent;
}

.btn-primary:hover {
    color: #fff;
    background-color: #001e54;
    border-color: transparent;
}

.material-icons {
    position: relative;
    top: 6px;
}

.adminTitle {
    background: #C8102E;
    border-radius: 100px;
    width: 150px;
    height: 30px;
    position: relative;
    margin: 20px auto;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.supplantedLabel {
    color: #C8102E;
}

#login-supplanted {
    text-transform: lowercase;
}