  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="" height="60" alt="logo" class="mx-auto mb-2" >
      </a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
          </li>
        </ul>
    
        <ul class="navbar-nav">
          @if(roles.includes('Administrador') || roles.includes('SuperAdmin')){
            <li class="nav-item">
              <a class="nav-link btn" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">ADMINISTRACIÓN</a>
            </li>
          }
        </ul>

        <ul class="navbar-nav d-flex flex-row justify-content-evenly">
          <li class="navbar-brand">
            <a  href="" data-toggle="tooltip" data-placement="bottom" target="_blank" aria-hidden="true" title="Correo" class="nav-link">
                <fa-icon [icon]="email"></fa-icon>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img ngSrc="./../../../../assets/images/user.jpg" class="rounded-pill" alt="Usuario" width="40" height="40" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="" target="_blank" >Cambiar Contraseña</a></li>
            <li><a class="dropdown-item" href="" target="_blank">Cambiar Datos Personales</a></li>
            </ul>
          </li> 
          <li class="navbar-brand">
              <button class="nav-link" (click)="Logout()">
                  <fa-icon [icon]="signOut"></fa-icon>
              </button>
          </li>  
        </ul>
      </div>
    </div>

  </nav>
  
  @if(roles.includes('Administrador') || roles.includes('SuperAdmin')){
    <app-administration-menu />
  }