<h3>Account</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>POST</td>
            <td>/account/login</td>
            <td>Log in to the application</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/account/admin</td>
            <td>Log in as an admin</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/account/refreshToken</td>
            <td>Refresh the token</td>
        </tr>
    </tbody>
</table>