<h2>Resources</h2>

<p>Fake Gundam Wiki API comes with a set of resources:</p>



<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Resource</th>
            <th>Endpoint</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Account</td>
            <td><a href="">/account</a></td>
        </tr>
        <tr>
            <td>Affiliations</td>
            <td><a href="">/affiliations</a></td>
        </tr>
        <tr>
            <td>Characters</td>
            <td><a href="">/characters</a></td>
        </tr>
        <tr>
            <td>Manufacturers</td>
            <td><a href="">/manufacturers</a></td>
        </tr>
        <tr>
            <td>MobileSuits</td>
            <td><a href="">/mobile-suits</a></td>
        </tr>
        <tr>
            <td>Series</td>
            <td><a href="">/series</a></td>
        </tr>
        <tr>
            <td>Universes</td>
            <td><a href="">/universes</a></td>
        </tr>
    </tbody>
</table>