<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6">
          <img src="../../../../assets/images/forbidden.png" />
      </div>
      <div class="col-md-6 text-center">
          <h1 class="display-1">Oops! Acceso no autorizado.</h1>
          <p>Lo sentimos, no tienes permisos para acceder a esta página.</p>
          <a routerLink="" class="btn btn-primary">Ir a la página de inicio</a>
      </div>
      
  </div>
  
</div>

