<h2>Example Code</h2>
    
    <div class="bg-body-tertiary border rounded-3 mb-3">
        <pre>
            <code>
    fetch('https://fakeapigundam.azurewebsites.net/mobileSuit/1')
    .then(res=&gt;res.json())
    .then(json=&gt;console.log(json))
            </code> 
        </pre>
    </div>

    <button class="btn btn-primary mb-3" (click)="onTryItClick()">
        <fa-icon [icon]="tryItIcon"></fa-icon>
        Try it
    </button>

    <div class="bg-body-tertiary border rounded-3 mb-3" [class.d-none]="!showSecondDiv">
        <pre>
            <code>
{{mobileSuit() | json}}
            </code>
        </pre>
    </div>