<h2>Example Code</h2>

<div class="bg-body-tertiary border rounded-3 mb-3">
    <pre>
        <code>
fetch('@SiteConfig.SiteUrl/api/mobile-suits/1', {
method: 'GET',
headers: {
    'Authorization': 'Bearer YOUR_TOKEN_HERE',
    'Content-Type': 'application/json'
    }
})
.then(res => res.json())
.then(json => console.log(json))
.catch(err => console.error('Error:', err));
        </code> 
    </pre>
</div>

<button class="btn btn-primary mb-3" onclick="getAccessToken()">
    <i class="bi bi-play-fill"></i>
    Try it
</button>

<div class="bg-body-tertiary border rounded-3 mb-3" hidden id="ExampleCodeDiv">
    <pre>
        <code id="exampleCode">
        </code>
    </pre>
</div>