<h2 class="mt-5">Resources</h2>

<p>Fake Gundam Wiki API comes with a set of resources:</p>

<h3>Auth</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>POST</td>
            <td>/auth/login</td>
            <td>Log in to the application</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/auth/refreshToken</td>
            <td>Refresh the token</td>
        </tr>
    </tbody>
</table>

<h3>Affiliations</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/affiliations</td>
            <td>Get all affiliations</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/affiliations/:id</td>
            <td>Get an affiliation by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/affiliations</td>
            <td>Create a new affiliation</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/affiliations/:id</td>
            <td>Update an affiliation by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/affiliations/:id</td>
            <td>Delete an affiliation by id</td>
        </tr>
    </tbody>
</table>

<h3>Characters</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/characters</td>
            <td>Get all characters</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/characters/:id</td>
            <td>Get a character by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/characters</td>
            <td>Create a new character</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/characters/:id</td>
            <td>Update a character by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/characters/:id</td>
            <td>Delete a character by id</td>
        </tr>
    </tbody>
</table>


<h3>Manufacturers</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/manufacturers</td>
            <td>Get all manufacturers</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/manufacturers/:id</td>
            <td>Get a manufacturer by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/manufacturers</td>
            <td>Create a new manufacturer</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/manufacturers/:id</td>
            <td>Update a manufacturer by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/manufacturers/:id</td>
            <td>Delete a manufacturer by id</td>
        </tr>
    </tbody>
</table>


<h3>Mobile Suits</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/mobile-suits</td>
            <td>Get all mobile suits</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/mobile-suits/:id</td>
            <td>Get a mobile suits by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/mobile-suits</td>
            <td>Create a new mobile suits</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/mobile-suits/:id</td>
            <td>Update a mobile suits by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/mobile-suits/:id</td>
            <td>Delete a mobile suits by id</td>
        </tr>
    </tbody>
</table>

<h3>Roles</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/roles</td>
            <td>Get all roles</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/roles/:id</td>
            <td>Get a role by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/roles</td>
            <td>Create a new roles</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/roles/:id</td>
            <td>Update a role by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/roles/:id</td>
            <td>Delete a role by id</td>
        </tr>
    </tbody>
</table>

<h3>Series</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/series</td>
            <td>Get all series</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/series/:id</td>
            <td>Get a serie by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/series</td>
            <td>Create a new serie</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/series/:id</td>
            <td>Update a serie by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/series/:id</td>
            <td>Delete a serie by id</td>
        </tr>
    </tbody>
</table>


<h3>Universes</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/universes</td>
            <td>Get all universes</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/universes/:id</td>
            <td>Get a universe by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/universes</td>
            <td>Create a new universe</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/universes/:id</td>
            <td>Update a universe by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/universes/:id</td>
            <td>Delete a universe by id</td>
        </tr>
    </tbody>
</table>

<h3>Users</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/users</td>
            <td>Get all users</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/users/:id</td>
            <td>Get a users by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/users</td>
            <td>Create a new user</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/users/:id</td>
            <td>Update a user by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/users/:id</td>
            <td>Delete a user by id</td>
        </tr>
    </tbody>
</table>