<h3>Series</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/series</td>
            <td>Get all series</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/series/:id</td>
            <td>Get a serie by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/series</td>
            <td>Create a new serie</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/series/:id</td>
            <td>Update a serie by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/series/:id</td>
            <td>Delete a serie by id</td>
        </tr>
    </tbody>
</table>