<h3>Affiliations</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/affiliations</td>
            <td>Get all affiliations</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/affiliations/:id</td>
            <td>Get an affiliation by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/affiliations</td>
            <td>Create a new affiliation</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/affiliations/:id</td>
            <td>Update an affiliation by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/affiliations/:id</td>
            <td>Delete an affiliation by id</td>
        </tr>
    </tbody>
</table>