<h3>Characters</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/characters</td>
            <td>Get all characters</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/characters/:id</td>
            <td>Get a character by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/characters</td>
            <td>Create a new character</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/characters/:id</td>
            <td>Update a character by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/characters/:id</td>
            <td>Delete a character by id</td>
        </tr>
    </tbody>
</table>