<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background-color: #003087;">
    <div class="offcanvas-header" data-bs-theme="dark" style="border-bottom: 1px solid white;margin-top: 10px;">
      <h5 class="offcanvas-title text-white" id="offcanvasRightLabel">ADMINISTRACIÓN</h5>
      <button type="button" #btnCloseOffCanvas class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-white">

        <div class="mb-3">
            <h5 class="mb-3">Gestion de Usuarios y Permisos</h5>

            <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/administration/security/users" (click)="onClose()">
                        <fa-icon class="me-4" [icon]="User"></fa-icon>
                        Usuarios del Sistema
                        <fa-icon class="float-end" [icon]="ChevronRight"></fa-icon>
                    </a>
                </li>

                @if(isSuperAdmin){
                    <li class="list-group-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/administration/security/roles" (click)="onClose()">
                            <fa-icon class="me-3" [icon]="Role"></fa-icon>
                            Permisos del Sistema
                            <fa-icon class="float-end" [icon]="ChevronRight"></fa-icon>
                        </a>
                    </li>
                }
               
            </ul>
        </div>

        <div class="mb-3">
            <h5 class="mb-3">Mantenedores</h5>


        </div>
    </div>
  </div>