<h3>Mobile Suits</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/mobile-suits</td>
            <td>Get all mobile suits</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/mobile-suits/:id</td>
            <td>Get a mobile suits by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/mobile-suits</td>
            <td>Create a new mobile suits</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/mobile-suits/:id</td>
            <td>Update a mobile suits by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/mobile-suits/:id</td>
            <td>Delete a mobile suits by id</td>
        </tr>
    </tbody>
</table>