<h3>Manufacturers</h3>
<table class="table table-bordered mb-3">
    <thead>
        <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td>/manufacturers</td>
            <td>Get all manufacturers</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/manufacturers/:id</td>
            <td>Get a manufacturer by id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/manufacturers</td>
            <td>Create a new manufacturer</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/manufacturers/:id</td>
            <td>Update a manufacturer by id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/manufacturers/:id</td>
            <td>Delete a manufacturer by id</td>
        </tr>
    </tbody>
</table>