@using FakeGundamWikiAPI.Areas.Maintainer.Models.Examples
@model IList<ExampleDto>
@{
    ViewData["Title"] = "Affiliations";
    Layout = "_LayoutDocs";
}

<h1>
    <i class="bi bi-people"></i> Affiliations
</h1>

<hr />

<h3>Get all affiliations</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("GetAffiliations",Model)' />

<hr />

<h3>Get a single affiliation</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("GetAffiliationById",Model)' />

<hr />

<h3>Create a new affiliation</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("CreateAffiliation",Model)' />

<hr />

<h3>Update a affiliation</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("UpdateAffiliation",Model)' />

<hr />

<h3>Active/Inactive a affiliation</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("ToggleAffiliation",Model)' />