@{
    ViewData["Title"] = "Docs";
    Layout = "_LayoutDocs";
}

<h1>How to Use</h1>
<h1>How to Use</h1>
<h1>How to Use</h1>
<h1>How to Use</h1>
<h1>How to Use</h1>
<h1>How to Use</h1>
<h1>How to Use</h1>
