@{
    ViewData["Title"] = "Mobile Suits";
    Layout = "_LayoutDocs";
}

<h1>
    <i class="bi bi-tv"></i> Mobile Suits
</h1>

<hr />

<h3>Get all mobile suits</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("GetMobileSuits","","")' />

<hr />

<h3>Get a single mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("GetMobileSuit","","")' />

<hr />

<h3>Create a new mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("CreateMobileSuit","","")' />

<hr />

<h3>Update a mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("UpdateMobileSuit","","")' />

<hr />

<h3>Delete a mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("DeleteMobileSuit","","")' />