@using FakeGundamWikiAPI.Areas.Maintainer.Models.Examples
@model IList<ExampleDto>
@{
    ViewData["Title"] = "Mobile Suits";
    Layout = "_LayoutDocs";
}

<h1>
    <i class="bi bi-tv"></i> Mobile Suits
</h1>

<hr />

<h3>Get all mobile suits</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("GetMobileSuits",Model)' />

<hr />

<h3>Get a single mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("GetMobileSuitById",Model)' />

<hr />

<h3>Create a new mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("CreateMobileSuit",Model)' />

<hr />

<h3>Update a mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("UpdateMobileSuit",Model)' />

<hr />

<h3>Delete a mobile suit</h3>

<partial name="_DocExample" model='ExampleCodeViewModel.Create("ToggleMobileSuit",Model)' />