@using FakeGundamWikiAPI.Areas.Maintainer.Models.Configurations
@model ConfigurationVM
@{
    Layout = null;
}


<form asp-action="Edit">
    <input type="hidden" asp-for="ConfigurationId" />
    <div class="mb-3">
        <label asp-for="ConfigurationName" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="ConfigurationName">
    </div>

    <div class="mb-3">
        <label asp-for="ConfigurationValue" class="form-label">Value</label>
        <input type="text" class="form-control" asp-for="ConfigurationValue">
    </div>


    <div class="form-group float-end">
        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>