<div class="card mt-3">
    <div class="card-header bg-primary">
      Editar Usuario
    </div>
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    
        <div class="mb-3">
          <label for="userName" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="userName" formControlName="userName" required>
        </div>

        <div class="mb-3">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
        </div>

        <div class="mb-3">
          <label for="roleIds" class="form-label">Permiso</label>
          <ng-select id="roleIds" formControlName="roleIds" bindLabel="roleName" bindValue="roleId" [items]="roles()" [multiple]="true">
          </ng-select>
      </div>
  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="userForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>